<%-include("./partials/header")%>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8">
            <%documents.forEach(function(document){%>
                <h2>
                    <a href="#"><%=document.title%></a>
                </h2>
                <h4>From: <%=document.author%> originally from <%=document.origin%></h4>
              <div class="thumbnails">
                <img src="<%=document.url%>" alt="">
                
              </div>
                
              
            <%})%>
            
        </div>
        <div class="col-sm-2">
            
        </div>
    </div>
</div>

<%-include("./partials/footer")%>